/* You can add global styles to this file, and also import other style files */

$icons-path: "~/ag-grid-community/src/styles/icons/";
$ag-mat-icons-path: "~/ag-grid-community/src/styles/material-icons/";
$border-color: #e7e7e7;
$header-background-color: blue;
$font-size: 14px!important;
$secondary-foreground-color: white;
$font-family: inherit;
$cell-horizontal-padding: 0;
$cell-horizontal-border: solid 1px #dfdfdf;

.ag-row-even {
  background-color: #f5f5f5 !important;
}

.ag-row-odd {
  background-color: white !important;
}

// center the headers
.ag-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;

  .ag-header-row {
    .ag-header-cell {
      .ag-header-cell-text {
        text-transform: uppercase;
      }

      .ag-header-cell-label {
        justify-content: flex-start;
        margin-left: 20px;
        float: none;
        width: auto;
        align-content: center;
        line-height: 50px;
        font-weight: 400;
      }

      &.left {
        padding-left: 23px;

        .ag-header-cell-label {
          justify-content: left;
        }
      }
    }
  }
}

.ag-bl-full-height {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/src/styles/ag-theme-bootstrap.scss";

.center-cell{
  display:flex;
  justify-content: center;
}

.ag-scrolls {
  height: auto !important;
}

.ag-body {
  position: relative !important;
  top: auto !important;
  height: auto !important;
}

.ag-header { 
  position: relative !important;
}

.ag-floating-top {
  position: relative !important;
  top: auto !important;
}

.ag-floating-bottom {
  position: relative !important;
  top: auto !important;
}

> div,
.ag-bl-normal-east,
.ag-bl-normal,
.ag-bl-normal-center,
.ag-bl-normal-center-row,
.ag-bl-full-height,
.ag-bl-full-height-center,
.ag-pinned-left-cols-viewport,
.ag-pinned-right-cols-viewport,
.ag-body-viewport-wrapper,
.ag-body-viewport {
  height: auto !important;
}
